// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$border-radius: 4px;
$color-gray-100: rgba(226, 232, 240, 1);
$color-gray-200: rgba(160, 174, 192, 1);
$color-gray-300: rgba(45, 55, 72, 1);
$color-primary-100: rgba(66, 153, 225, 1);
$color-primary-200: rgba(49, 130, 206, 1);
$color-primary-300: rgba(43, 108, 176, 1);
$color-danger: rgba(229, 62, 62, 1);
$color-success: rgba(72, 187, 120, 1);
